body {
    background-color: black;
    color: white;
}


.button-success {
    background: rgb(28, 184, 65);
}

.l-box {
    /*padding: 1em;*/
}


img {
    max-width: 100%;
}

#comment{
    text-align: justify
}


.warning{
    color: yellow;
}

.negative{
    color: red;
}


#counter{
    font-size: 100%;
    font-weight: bold;
}
